<nav id="main-navbar" class="navbar navbar-expand-md navbar-dark fixed-top"
  style="background-color: #1b262c; border-bottom: 4px solid #0f4c75; ">
  <a class="navbar-brand" href="/home">HazelEase</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbars">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="navbar-brand" href="/account/profile"><i class="fas fa-user-circle"></i></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          안녕하세요, <%= user_id ? user_id : "고객"; %>님!
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <% if (user_id) { %>
            <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i> 로그아웃</a>
          <% } else { %>
            <a class="dropdown-item" href="/login"><i class="fas fa-sign-in-alt"></i> 로그인</a>
          <%}%>
          <a class="dropdown-item" href="/about"><i class="fas fa-building"></i> 하젤이스소개</a>
          <a class="dropdown-item" href="/customerCenter"><i class="far fa-question-circle"></i> 고객센터</a>
        </div>
        <li class="ml-2" style="border-left: 1px solid #6c757d; height: 30px; position: relative; top: 5px"></li>
        <li class="nav-item ml-4">
          <a class="navbar-brand" style="color: #ffd571;" href="/my-notification"><i class="fas fa-bell"></i><span style="position: relative; top: 5px; font-size: 16px;"> <%= "" %></span></a>
        </li>
        <li class="nav-item ml-2">
          <a class="navbar-brand" style="color: #c7b198;" href="/my-receipt"><i class="fas fa-box"></i><span style="position: relative; top: 5px; font-size: 16px;"> <%= "" %></span></a>
        </li>
        <li class="nav-item ml-2">
          <a class="navbar-brand" style="background-color: #0f4c75; padding: 5px 10px; border-radius: 20px; font-size: 16px; position: relative; top: 3px" href="/account/seller-management">판매자 신청</a>
        </li>

    </ul>
    <form class="form-inline my-2 my-lg-0 mr-3">
      <input class="form-control mr-sm-2" type="text" aria-label="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
    </form>
    <div>
      <a class="mx-2" style="color: #3282b8;" href="/qrcode"><i class="fas fa-qrcode fa-lg"></i></a>
      <a class="mx-2" style="color: #24a19c;" href="/my-cart"><i class="fas fa-shopping-cart fa-lg"></i><span style="position: relative; top: 5px"> <%= sess.noOfCartItems > 0 ? sess.noOfCartItems : "" %></span></a>
      <a class="mx-2" style="color: #ea5455;" href="/my-wishlist"><i class="fas fa-heart fa-lg"></i><span style="position: relative; top: 5px"> <%= sess.noOfWishlistItems > 0 ? sess.noOfWishlistItems : "" %></span></a>
    </div>
  </div>
</nav>
