<%- include("partials/header"); -%>
<!-- Custom styles -->
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/account.css">
</head>

<body id="bootstrap-overrides">
<%- include("partials/navbar"); -%>
<main role="main" class="container-fluid">
    <%- include("partials/sidenav"); -%>
    <div class="tab-content">
        <div>
            <h3>주소록 추가</h3>
        </div>
        <div class="tab-subcontent">
            <form class="address-wrap" method="post" action="/account/manage-address/edit/<%=address[0].address_id%>">
                <div id="Pickup" class="tabcontent col-sm-12" style="display: block;">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-10 ml-2">
                                            <label for="state" class="sr-only">시/도</label>
                                            <input name="state" type="text" class="form-control my-4" placeholder="시/도" maxlength="4" value="<%= data[0].state %>" required />
                                            <label for="city" class="sr-only">구/면/읍</label>
                                            <input name="city" type="text" class="form-control my-4" placeholder="구/면/읍" maxlength="20" value="<%= data[0].city %>" required />
                                            <label for="address" class="sr-only">나머지 주소</label>
                                            <input name="address" type="text" class="form-control my-4" placeholder="나머지 주소" maxlength="50" value="<%= data[0].address %>" required />
                                            <label for="zip" class="sr-only">우편번호</label>
                                            <input name="zip" type="number" class="form-control my-4" placeholder="우편번호" maxlength="5" value="<%= data[0].zip %>" required />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-lg btn-block btn-primary" type="submit" id="updateAddress" name="updateAddress">주소 수정</button>
            </form>
        </div>
    </div>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<%- include("partials/footer"); -%>
