<%- include("partials/header"); -%>
<!-- Custom styles -->
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/account.css">
</head>

<body id="bootstrap-overrides">
  <%- include("partials/navbar"); -%>

  <main role="main" class="container-fluid">
    <%- include("partials/sidenav"); -%>
    <div class="tab-content">
      <div>
        <h3>주소록 관리</h3>
      </div>
      <div class="tab-subcontent">
        <div id="Pickup" class="tabcontent col-sm-12" style="display: block;">
        <div class="card mb-4">
          <div class="card-header clear-fix">
            기본 배송지
          </div>
          <!-- 상품 1 -->
          <% for(let i = 0; i < data.length; i++) { %>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-10 ml-2">
                    <h5 class="card-title">
                      배송지
                      <br>
                      <br><small>주소 <%=data[i].state%> <%=data[i].city%> <%=data[i].address%></small>
                      <br><small>우편번호 <%=data[i].zip%></small>
                      <br><small>전화번호1</small>
                    </h5>
                  </div>
                </div>
                <div class="col-sm-13">
                  <button type="button" class="btn btn-danger mb-1 mx-1  float-right" onclick="location.href='/account/manage-address/default/<%= data[i].address_id %>'">기본 배송지 지정</button>
                  <button type="button" class="btn btn-outline-dark mb-1 mx-1  float-right" onclick="location.href='/account/manage-address/edit/<%=data[i].address_id %>'">수정</button>
                  <button type="button" class="btn btn-outline-dark mb-1 mx-1  float-right" onclick="location.href='/account/manage-address/delete/<%= data[i].address_id %>'">삭제</button>
                </div>
              </div>
            </div>
          </div>
        </div>
          <% } %>
        </div>
                <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="location.href='manage-address/new'">주소 추가</button>
      </div>
    </div>
  </main>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <%- include("partials/footer"); -%>
