<%- include("partials/header"); -%>
<!-- Custom styles -->
<link href="css/cart.css" rel="stylesheet">
</head>

<body>
<%- include("partials/navbar"); -%>

<div class="container">
    <div class="py-5 text-center">
        <h2><i class="fas fa-shopping-cart fa-lg"></i> <%= user_id ? user_id : "고객"; %>님의 쇼핑카트</h2>
    </div>

    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">결제 체크아웃</span>
                <!-- 전체 상품 -->
                <span class="badge badge-secondary badge-pill"><%= sess.noOfCheckedItems %> 개</span>
            </h4>

            <div class="card mb-3">
                <div class="card-header">배송지 <span class="btn btn-sm btn-link"
                                                   onclick="location.href='/account/manage-address'">(주소 선택)</span>
                </div>
                <div class="card-body">
                    <% if (address[0].address_id != null) { %>
                        <div class="mb-2"><i class="fas fa-address-card mr-1"></i> <%= address[0].recipient %></div>
                        <div class="mb-2">[<%= address[0].zip %>
                            ] <%= address[0].state %> <%= address[0].city %> <%= address[0].address %></div>
                        <div>연락처: <%= address[0].phone %></div>
                    <% } else { %>
                        <small class="alert alert-danger" role="alert" style="padding: 5px 10px">
                            <strong>기본 주소 없습니다.</strong>
                        </small>
                    <% } %>
                </div>
            </div>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <h6 class="my-0">주문 금액</h6>
                    <%
                    var totalProductPrice = 0;
                    var totalDiscount = 0;
                    var couponValue = couponResult[1];
                    for (let i = 0; i < data.length; i++) {
                        if (data[i].checked === 1) {
                            totalProductPrice += Math.round(data[i].price * data[i].quantity);
                            if (data[i].discount > 0) {
                                totalDiscount += Math.round(data[i].price * (data[i].discount / 100) * data[i].quantity);
                            }
                        }
                    }
                    subTotal = totalProductPrice - totalDiscount;
                    total = totalProductPrice - totalDiscount - couponValue;
                    %>
                    <span class="text-muted"><%= formatNum(totalProductPrice) %> 원</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <h6 class="my-0">할인 금액</h6>
                    <span class="text-muted">-<%= formatNum(totalDiscount) %> 원</span>
                </li>
                <li class="list-group-item d-flex justify-content-between bg-light">
                    <div class="<%= couponResult[3] == 1 ? "text-success" : "" %>">
                        <h6 class="my-0">쿠폰</h6>
                        <small><%= couponResult[0] %></small>
                    </div>
                    <span class="<%= couponResult[3] == 1 ? "text-success" : "" %>">-<%= couponResult[1] ? formatNum(couponResult[1]) : "0,000" %> 원</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>전체 금액 (KRW)</span>
                    <strong><%= formatNum(total) %> 원</strong>
                </li>
            </ul>

            <form id="apply-coupon" class="card p-2 coupon-form" method="POST" action="/apply-coupon">
                <% if (couponResult[2]) { %>
                    <small class="alert alert-<%= couponResult[3] == 1 ? 'success' : 'danger' %>" role="alert"
                           style="padding: 5px 10px">
                        <strong><%= couponResult[2] %></strong>
                    </small>
                <% } %>
                <div class="input-group">
                    <input type="hidden" name="subTotal" value="<%= subTotal %>">
                    <input type="text" class="form-control" name="code" placeholder="쿠폰 코드" required>
                    <div class="input-group-append">
                        <button id="apply-coupon" type="submit" class="btn btn-secondary">적용</button>
                    </div>
                </div>
            </form>
            <div class="card p-2 mt-3">
                <div class="clearfix px-2 my-2">
                        <span class="float-left"><strong>자동결제</strong> <i
                                    class="far fa-question-circle ml-1"></i></span>
                    <label class="switch float-right">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
                <form id="cart-continue" method="post" action="/cart-continue">
                    <input type="hidden" name="total" value="<%= total %>">
                    <input type="hidden" name="subTotal" value="<%= subTotal %>">
                    <input type="hidden" name="total_discount" value="<%= totalDiscount %>">
                    <button class="btn btn-md btn-block btn-primary" type="submit">계속
                    </button>
                    <div class="text-danger">
                        <%= sess.messageErr %>
                    </div>
                    <% sess.messageErr = "" %>
                </form>
            </div>
        </div>

        <form id="cart-items-form" class="col-md-8 order-md-1" method="POST" action="/cart/update/<%= data.length %>">
            <h4 class="mb-3 clearfix">
                <span class="float-left">구매하는 상품</span>
                <span class="float-right">
            <button id="save-button" class="btn btn-warning" style="display: none"><strong>업데이트</strong></button>
          </span>
            </h4>

            <% if( rep.length === 0) { %>
                <div class="card mb-4">
                    <div class="card-body text-center">
                        카트에 담은 제품이 없습니다.
                    </div>
                </div>
            <% } %>
            <!-- 판매자 -->
            <% var i = 0; %>
            <% for (let p = 0; p < rep.length; p++) { %>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-store-alt mr-1"></i> 판매자: <strong><%= rep[p].sellername %></strong>
                    </div>
                    <!-- 상품 -->
                    <% for (let q = 0; q < rep[p].count; q++, i++) { %>
                        <div class="card-body cart-item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href="/product/<%= data[i].product_id %>">
                                        <% var isExist = false; %>
                                        <% for(let j = 0; j < images.length; j++) { %>
                                            <% if (images[j].product_id == data[i].product_id) { %>
                                                <img class="border rounded" src="uploads/<%= images[j].file %>"
                                                     alt="product-image" width="110%"/>
                                                <% isExist = true; break; %>
                                            <% } %>
                                        <% } %>
                                        <% if(!isExist) { %>
                                            <img class="border rounded" src="images/product-default.jpg"
                                                 alt="product-image" width="110%"/>
                                        <% } %>
                                    </a>
                                </div>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <h5 class="card-title">
                                                <a href="/product/<%= data[i].product_id %>"><%= data[i].product %></a>
                                                <br><small><a href="#" class="text-success">(<%= data[i].shop %>
                                                        )</a></small>
                                                <% if (data[i].type != "None") { %>
                                                    <br><small>종류: <%= data[i].type %></small>
                                                <% } %>
                                            </h5>
                                        </div>
                                        <div class="col-sm-2">
                                            <input type="hidden" name="cb<%= i %>" class="cb-state"
                                                   value="<%= data[i].checked ? data[i].checked : 0 %>">
                                            <input type="checkbox" name="" value=""
                                                   class="item" <%= data[i].checked == 1 ? "checked" : "" %>>
                                        </div>
                                    </div>
                                    <%
                                        var price = data[i].price;
                                    if (data[i].discount > 0) {
                                        price = Math.round(data[i].price * ((100 - data[i].discount) / 100))
                                    %>
                                    <small><s><%= formatNum(data[i].price) %> 원</s> <span
                                                class="disc-tag mx-1"><%= data[i].discount %>% off</span></small>
                                    <% } %>
                                    <p class="card-text mb-2"><strong><%= formatNum(price) %> 원</strong>
                                        x <%= data[i].quantity %> = <%= formatNum(price * data[i].quantity) %> 원</p>
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <p>
                      <span style="color: #fbd46d;">
                          <% for (let j = 0; j < Math.floor(data[i].rating); j++) { %>
                              <i class="fas fa-star"></i>
                          <% } %>
                          <% if (data[i].rating - Math.floor(data[i].rating) >= 0.5) { %>
                              <i class="fas fa-star-half-alt"></i>
                          <% } %>
                          <% for (let j = 1; j <= 5 - (data[i].rating - Math.floor(data[i].rating) < 0.5 ? Math.floor(data[i].rating) : data[i].rating); j++) { %>
                              <i class="far fa-star"></i>
                          <% } %>
                      </span>(0)
                                            </p>
                                        </div>
                                        <div class="col-sm-1">
                                            <button type="button"
                                                    onClick="location.href = '/cart/delete/<%= data[i].cart_id %>'"
                                                    class="btn btn-sm btn-outline-secondary"><i
                                                        class="fas fa-trash py-1"></i></button>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="input-group input-group-sm">
                      <span class="input-group-prepend">
                        <button type="button" class="qty-minus btn btn-sm btn-outline-secondary" data-type="minus"
                                data-field="">
                          <i class="fas fa-minus"></i>
                        </button>
                      </span>
                                                <input type="hidden" name="cart<%= i %>" value="<%= data[i].cart_id %>">
                                                <input type="text" name="qty<%= i %>"
                                                       class="qty-input form-control input-number"
                                                       value="<%= data[i].quantity %>">
                                                <span class="input-group-append">
                        <button type="button" class="qty-plus btn btn-sm btn-outline-secondary">
                          <i class="fas fa-plus"></i>
                        </button>
                      </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            <% } %>
        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/cart.js"></script>
<!-- FOOTER -->
<%- include("partials/copyright"); -%>
<%- include("partials/footer"); -%>
