ti<%-include("partials/header");-%>
<!-- Custom styles -->
<link href="css/cart.css" rel="stylesheet">
</head>

<body>
  <%- include("partials/navbar"); -%>

  <div class="container">
    <div class="py-5 text-center">
      <h2><i class="fas fa-shopping-cart fa-lg"></i> <%= user_id ? user_id : "고객"; %>님의 쇼핑카트</h2>
    </div>

    <div class="row">
      <div class="col-md-4 order-md-2 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">결제 체크아웃</span>
          <!-- 전체 상품 -->
          <span class="badge badge-secondary badge-pill">0 개</span>
        </h4>

        <div class="card mb-3">
          <div class="card-header">배송지 <span class="btn btn-sm btn-link">(주소 선택)</span></div>
          <div class="card-body">
            <div class="mb-2"><i class="fas fa-address-card mr-1"></i> 홍길동</div>
            <div class="mb-2">서울특별시 구로구 고척동 95-130 (203호)</div>
            <div>연락처: +821042090323</div>
          </div>
        </div>

        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <h6 class="my-0">주문 금액</h6>
            <span class="text-muted">00,000 원</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <h6 class="my-0">할인 금액</h6>
            <span class="text-muted">00,000 원</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <h6 class="my-0">배송비</h6>
            <span class="text-muted">00,000 원</span>
          </li>
          <li class="list-group-item d-flex justify-content-between bg-light">
            <div class="text-success">
              <h6 class="my-0">쿠폰</h6>
              <small>EXAMPLECODE</small>
            </div>
            <span class="text-success">-0,000 원</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>전체 금액 (KRW)</span>
            <strong>00,000 원</strong>
          </li>
        </ul>

        <form class="card p-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="쿠폰 코드">
            <div class="input-group-append">
              <button type="submit" class="btn btn-secondary">적용</button>
            </div>
          </div>
        </form>
        <div class="card p-2 mt-3">
            <div class="clearfix px-2 my-2">
              <span class="float-left"><strong>자동결제</strong> <i class="far fa-question-circle ml-1"></i></span>
              <label class="switch float-right">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
            </div>
            <button class="btn btn-md btn-block btn-primary" type="submit" id="signup" name="signup">계속</button>
        </div>
      </div>

      <div class="col-md-8 order-md-1">
        <h4 class="mb-3">구매하는 상품</h4>

        <!-- 판매자 1 -->
        <div class="card mb-4">
          <div class="card-header">
            판매자명
          </div>
          <!-- 상품 1 -->
          <% for(var i = 0; i < data.length; i++) { %>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <img src="images/product-default.jpg" alt="product-img" width="110%"/>
              </div>
              <div class="col-sm-9">
                <div class="row">
                  <div class="col-sm-10">
                    <h5 class="card-title">
                      <%= data[i].product%>
                      <br><small>종류</small>
                    </h5>
                  </div>
                  <div class="col-sm-2">
                    <input type="checkbox" name="" value="" class="item">
                  </div>
                </div>
                <p class="card-text mb-2"><strong><%= data[i].cost%> 원</strong></p>
                <div class="row">
                  <div class="col-sm-7">
                    <p>
                      <span style="color: #fbd46d;">
                        <% for (var j = 0; j < data[i].review; j++) { %>
                          <i class="fas fa-star"></i> <% }%>
                      </span>(23)
                    </p>
                  </div>
                  <div class="col-sm-1">
                    <a href="#" class="btn btn-sm btn-outline-secondary mr-2"><i class="fas fa-trash"></i></a>
                  </div>
                  <div class="col-sm-4">
                    <div class="input-group input-group-sm">
                      <span class="input-group-prepend">
                        <button type="button" class="quantity-left-minus btn btn-sm btn-outline-secondary btn-number" data-type="minus" data-field="">
                          <i class="fas fa-minus"></i>
                        </button>
                      </span>
                      <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="100">
                      <span class="input-group-append">
                        <button type="button" class="quantity-right-plus btn btn-sm btn-outline-secondary btn-number" data-type="plus" data-field="">
                          <i class="fas fa-plus"></i>
                        </button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% }%>
          <!-- 상품 2
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <img src="images/product-default.jpg" alt="product-img" width="110%"/>
              </div>
              <div class="col-sm-9">
                <div class="row">
                  <div class="col-sm-10">
                    <h5 class="card-title">
                      <br><small>종류</small>
                    </h5>
                  </div>
                  <div class="col-sm-2">
                    <input type="checkbox" name="" value="" class="item">
                  </div>
                </div>
                <p class="card-text mb-2"><strong>0,000 원</strong></p>
                <div class="row">
                  <div class="col-sm-7">
                    <p>
                      <span style="color: #fbd46d;">
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i>
                      </span> (23)
                    </p>
                  </div>
                  <div class="col-sm-1">
                    <a href="#" class="btn btn-sm btn-outline-secondary mr-2"><i class="fas fa-trash"></i></a>
                  </div>
                  <div class="col-sm-4">
                    <div class="input-group input-group-sm">
                      <span class="input-group-prepend">
                        <button type="button" class="quantity-left-minus btn btn-sm btn-outline-secondary btn-number" data-type="minus" data-field="">
                          <i class="fas fa-minus"></i>
                        </button>
                      </span>
                      <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="100">
                      <span class="input-group-append">
                        <button type="button" class="quantity-right-plus btn btn-sm btn-outline-secondary btn-number" data-type="plus" data-field="">
                          <i class="fas fa-plus"></i>
                        </button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->

        <!-- 판매자 2 -->
        <div class="card mb-4">
          <div class="card-header">
            판매자명
          </div>
          <!--상품 1 -->
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <img src="images/product-default.jpg" alt="product-img" width="110%"/>
              </div>
              <div class="col-sm-9">
                <div class="row">
                  <div class="col-sm-10">
                    <h5 class="card-title">
                      상품명
                      <br><small>종류</small>
                    </h5>
                  </div>
                  <div class="col-sm-2">
                    <input type="checkbox" name="" value="" class="item">
                  </div>
                </div>
                <p class="card-text mb-2"><strong>0,000 원</strong></p>
                <div class="row">
                  <div class="col-sm-7">
                    <p>
                      <span style="color: #fbd46d;">
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i>
                      </span> (23)
                    </p>
                  </div>
                  <div class="col-sm-1">
                    <a href="#" class="btn btn-sm btn-outline-secondary mr-2"><i class="fas fa-trash"></i></a>
                  </div>
                  <div class="col-sm-4">
                    <div class="input-group input-group-sm">
                      <span class="input-group-prepend">
                        <button type="button" class="quantity-left-minus btn btn-sm btn-outline-secondary btn-number" data-type="minus" data-field="">
                          <i class="fas fa-minus"></i>
                        </button>
                      </span>
                      <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="100">
                      <span class="input-group-append">
                        <button type="button" class="quantity-right-plus btn btn-sm btn-outline-secondary btn-number" data-type="plus" data-field="">
                          <i class="fas fa-plus"></i>
                        </button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/cart.js"></script>
    <!-- FOOTER -->
    <%- include("partials/copyright"); -%>
    <%- include("partials/footer"); -%>
