<%- include("partials/header"); -%>
<!-- Custom styles -->
<link href="css/login.css" rel="stylesheet">
</head>

<body class="text-center bg-light">
  <form class="form-signin" action="/login" method="post">
      <a href="/home"><img src="images/hazelease.png" width="100px" ></a>
      <h2 class="my-4 font-weight-normal">헤이즐이스</h2>

      <% if (message != "") { %>
      <div class="alert alert-<%= statusCode == 400 ? 'danger' : 'success' %>" role="alert">
        <%= message %>
      </div>
      <%}%>

      <label for="userid" class="sr-only">아이디</label>
      <input type="" id="userid" name="userid" class="form-control" placeholder="아이디" required autofocus>

      <label for="password" class="sr-only">비밀번호</label>
      <input name="password" type="password" class="form-control" placeholder="비밀번호" required>

      <button class="btn btn-lg btn-primary btn-block" type="submit" id="login" name="login">로그인</button>

      <div class="mt-2 mb-5">
        <small class="text-muted">계정 아직 없으시나요? <a href="/signup">회원가입</a></small>
      </div>

      <%- include("partials/copyright"); -%>
  </form>
<%- include("partials/footer"); -%>
