<%-include("partials/header");-%>
<!-- Custom styles -->
<link href="/css/cert.css" rel="stylesheet">
</head>

<body>
  <%- include("partials/navbar"); -%>
  <div class="container py-4">
    <div class="my-4 text-center">
      <h2><i class="far fa-file-alt ml-1"></i> 픽업증권</h2>
    </div>

    <% if (data.length == 0) { %>
    <div class="row card">
      <div class="card-body">
        송장이 없습니다.
      </div>
    </div>
    <% } else { %>
    <div class="row">
      <div class="col-md-12 mt-4">
        <div class="clearfix">
          <div class="float-left">
            <%
              function formatAMPM(date) {
                var hours = date.getHours();
                var minutes = date.getMinutes();
                var ampm = hours >= 12 ? '오후' : '오전';
                hours = hours % 12;
                hours = hours ? hours : 12;
                minutes = minutes < 10 ? '0' + minutes : minutes;
                hours = hours < 10 ? '0' + hours : hours;
                var strTime = ampm + ' ' + hours + ':' + minutes;
                return strTime;
              }

              let time = formatAMPM(date);
              var purchaseDatetime = date.getFullYear() + '/' + (date.getMonth() + 1) + '/' + date.getDate() + ' ' + time;
            %>
            <h5 class="mb-3 d-inline-block">
              <%= purchaseDatetime %>
            </h5>
          </div>
          <div class="float-right">
            <h5 class="mb-3 d-inline-block">
              구매번호 <%= data[0].trans_id %><%
              var transIds = [data[0].trans_id];
              var prevTransId = data[0].trans_id;

              for (let i = 1; i < data.length; i++) {
                    if (data[i].trans_id != prevTransId) {
                      transIds.push(data[i].trans_id);
                      prevTransId = data[i].trans_id;
                      %>, <%= data[i].trans_id %><%
                    }
                 }
              %>
            </h5>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12 text-center">
                <img src="<%= qrcode %>" class="border rounded d-inline-flex qrcode-img" width="120px" alt="qr-code" />
              </div>
              <div class="col-sm-12">
                <h5 class="font-weight-bold mb-3">매장정보</h5>
              </div>
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-sm-3 col-4 text-left mb-1">
                    판매자
                  </div>
                  <div class="col-sm-9 col-8 text-left mb-1">
                    <%= data[0].sellername %>
                  </div>
                  <div class="col-sm-3 col-4 text-left mb-1">
                    매장명
                  </div>
                  <div class="col-sm-9 col-8 text-left mb-1 font-weight-bold">
                    <%= data[0].shop %>
                  </div>
                  <div class="col-sm-3 col-4 text-left mb-1">
                    주소
                  </div>
                  <div class="col-sm-9 col-8 text-left mb-1 font-weight-bold">
                    <%= data[0].address %>
                  </div>
                  <div class="col-sm-3 col-4 text-left mb-1">
                    전화번호
                  </div>
                  <div class="col-sm-9 col-8 text-left mb-1 font-weight-bold">
                    <%= data[0].phone %>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 border-bottom mt-3 mb-3 w-100"></div>
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-12">
                    <h5 class="font-weight-bold mb-3">수령인</h5>
                  </div>
                  <div class="col-sm-3 col-4 text-left mb-1">
                    성명
                  </div>
                  <div class="col-sm-9 col-8 text-left mb-1">
                    <%= transInfo.recipient %>
                  </div>
                  <div class="col-sm-3 col-4 text-left mb-1">
                    전화번호
                  </div>
                  <div class="col-sm-9 col-8 text-left mb-1">
                    <%= transInfo.contact %>
                  </div>
                  <div class="col-12 text-right mt-3">
                    <small class="text-danger">시분증과 같이 제시하셔야 합니다.</small><br>
                    <small class="text-secondary">하젤이스 발행</small>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-body">
            <div class="clearfix">
              <h5 class="mb-3 d-inline-block"><span class="font-weight-bold text-dark"><%= data.length %> 개</span> 상품픽업</h5>
            <div class="row">
              <% for (let i = 0; i < data.length; i++) { %>
              <div class="col-lg-6 col-sm-12 <%= i == data.length - 1 ? '' : 'mb-3' %>">
                <div class="row">
                  <div class="col-3 pr-0">
                    <% var isExist = false; %>
                    <% for(let j = 0; j < images.length; j++) { %>
                    <% if (images[j].product_id == data[i].product_id) { %>
                    <a href="/product/<%= data[i].product_id %>">
                      <img class="border rounded" src="/uploads/<%= images[j].file %>" alt="product-image" width="100%" />
                    </a>
                    <% isExist = true; break; %>
                    <% } %>
                    <% } %>
                    <% if(!isExist) { %>
                    <img class="border rounded" src="images/product-default.jpg" alt="product-image" width="110%" />
                    <% } %>
                  </div>
                  <div class="col-9">
                    <p class="mb-2">
                      <a href="/product/<%= data[i].product_id %>">
                        <%= data[i].product %> <%= data[i].type != "None" ? '(' + data[i].type + ')' : '' %>
                      </a>
                      <br>x <%= data[i].quantity %>
                    </p>
                  </div>
                </div>
              </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <% } %>
  </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- FOOTER -->
<%- include("partials/copyright"); -%>
<%- include("partials/footer"); -%>
