<%-include("partials/header");-%>
<!-- Custom styles -->
<link href="/css/product.css" rel="stylesheet">
</head>

<body class="text-center">
  <%- include("partials/navbar"); -%>
  <div class="container">
    <div class="container-fluid">
      <div class="card">
        <div class="row">
          <aside class="col-sm-5 border-right">
            <div class="img-big-wrap">
              <div> <a href="#"><img src="images/product-default.jpg"></a></div>
          </aside>
          <aside class="col-sm-7">
            <article class="card-body p-5">
              <h3 class="title mb-3 text-left"><%= data[0].product %></h3>
              <small class="text-muted float-right">
                <% for (let j = 0; j < Math.floor(data[0].rating); j++) { %>
                <i class="fas fa-star"></i>
                <% } %>
                <% if (data[0].rating - Math.floor(data[0].rating) >= 0.5) { %>
                <i class="fas fa-star-half-alt"></i>
                <% } %>
                <% for (let j = 1; j <= 5 - (data[0].rating - Math.floor(data[0].rating) < 0.5  ? Math.floor(data[0].rating) : data[0].rating); j++) { %>
                <i class="far fa-star"></i>
                <% } %>
                (0)
                <!-- 리뷰의 수 -->
              </small>
              <br>
              <hr><br>
              <h3 class="text-left"><%= formatNum(data[0].price) %> 원 </h3>
              <br>
              <hr>
              <h6 class="text-left"><b>할인 금액</b></h6>
              <p>
                <%
                var price = data[0].price;
                if (data[0].discount > 0) {
                  price = Math.round(data[0].price*((100-data[0].discount)/100))
                %>
                <h3 class="text-left"><s><%= formatNum(data[0].price) %> 원</s> <%= formatNum(price) %> 원</h3>
                <p class="disc-tag mx-1 text-right"><%= data[0].discount %>% off</p>
                <% }  else { %>
                <h3 class="text-left">0원</h3>
                <% } %>
              </p>
              <hr><br>
              <select class="form-control form-control-sm" style="width:70px;">
                <option> 1 </option>
                <option> 2 </option>
                <option> 3 </option>
              </select>
              <br>
              <hr><br>
              <a href="/cart/add/<%= data[0].product_id %>" class="btn btn-primary text-uppercase"> 장바구니 </a>
              <a href="/wishlist/add/<%= data[0].product_id %>" class="btn btn-outline-primary text-uppercase"> 위시리스트 </a>
            </article>
          </aside>
        </div>
      </div>


    </div>

    <br>
    <br>
    <br>

    <div>
      <section id="tabs">
        <div class="container-fluid">
          <div class="row fixed-width">
            <div class="col-xs-12 fixed-width">
              <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">상세 정보</a>
                  <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">리뷰</a>
                </div>
              </nav>
              <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                <div class="tab-pane fade show active text-justify" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                  <br>
                  <%= data[0].info %>
                </div>
                <div class="tab-pane fade text-justify" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                  <br>
                  <%= data[0].info %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/cart.js"></script>
<!-- FOOTER -->
<%- include("partials/copyright"); -%>
<%- include("partials/footer"); -%>
