<%- include("partials/header"); -%>
<!-- Custom styles -->
<link href="css/product.css" rel="stylesheet">
</head>

<body class="text-center">
  <%- include("partials/navbar"); -%>
  <div class="text-center alert-danger" style="margin-top: 56px;"><%= message %></div>
  <main role="main">
    <div class="container">
      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          <a class="p-2 text-muted" href="#">World</a>
          <a class="p-2 text-muted" href="#">U.S.</a>
          <a class="p-2 text-muted" href="#">Technology</a>
          <a class="p-2 text-muted" href="#">Design</a>
          <a class="p-2 text-muted" href="#">Culture</a>
          <a class="p-2 text-muted" href="#">Business</a>
          <a class="p-2 text-muted" href="#">Politics</a>
          <a class="p-2 text-muted" href="#">Opinion</a>
          <a class="p-2 text-muted" href="#">Science</a>
          <a class="p-2 text-muted" href="#">Health</a>
          <a class="p-2 text-muted" href="#">Style</a>
          <a class="p-2 text-muted" href="#">Travel</a>
        </nav>
      </div>

      <br>
      <br>

      <div class="container-fluid">
        <div class="card">
          <div class="row">
            <aside class="col-sm-5 border-right">
                <div class="img-big-wrap">
                  <div> <a href="#"><img src="image.jpg"></a></div>
            </aside>
            <aside class="col-sm-7">
              <article class="card-body p-5">
                <h3 class="title mb-3 text-left"><%= data[0].product %></h3>
                <small class="text-muted float-right">
                  <% for (let j = 0; j < Math.floor(data[0].rating); j++) { %>
                    <i class="fas fa-star"></i>
                  <% } %>
                  <% if (data[0].rating - Math.floor(data[0].rating) >= 0.5) { %>
                    <i class="fas fa-star-half-alt"></i>
                  <% } %>
                  <% for (let j = 1; j <= 5 - (data[0].rating - Math.floor(data[0].rating) < 0.5  ? Math.floor(data[0].rating) : data[0].rating); j++) { %>
                    <i class="far fa-star"></i>
                  <% } %>
                  (0) <!-- 리뷰의 수 -->
                </small>
                <br><hr><br>
                  <h3 class="text-left"><%= formatNum(data[0].price) %> 원 </h3>
                <br><hr>
                <h6 class="text-left"><b>할인 금액</b></h6><p>
                <%
                var price = data[0].price;
                if (data[0].discount > 0) {
                  price = Math.round(data[0].price*((100-data[0].discount)/100))
                %>
                <h3 class="text-left"><s><%= formatNum(data[0].price) %> 원</s> <%= formatNum(price) %> 원</h3>
                <p class="disc-tag mx-1 text-right"><%= data[0].discount %>% off</p>
                <% }  else { %>
                  <h3 class="text-left">0원</h3>
                  <% } %>
              </p>
                <hr><br>
                        <select class="form-control form-control-sm" style="width:70px;">
                          <option> 1 </option>
                          <option> 2 </option>
                          <option> 3 </option>
                        </select>
                <br><hr><br>
                <a href="/cart/add/<%= data[0].product_id %>" class="btn btn-lg btn-primary text-uppercase"> 장바구니 </a>
                <a href="/wishlist/add/<%= data[0].product_id %>" class="btn btn-lg btn-outline-primary text-uppercase"> 위시리스트 </a>
              </article>
            </aside>
          </div>
        </div>


      </div>

      <!--

      <div class="row m-4">
        <div class="col-md-12">
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <svg class="bd-placeholder-img" width="300" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
            </svg>
            <div class="col p-4 d-flex flex-column position-static">
              <table class="text-left" height="200">
                <colgroup>
                  <col style="width:10%">
                  <col style=*>
                </colgroup>
                <tr>
                  <th>제품명</th>
                  <th class="mb-1 text-muted "><%= data[0].product %></th>
                </tr>
                <tr>
                  <th>가격</th>
                  <th class="mb-1 text-muted"> <%= formatNum(data[0].price) %></th>
                </tr>
                <tr>
                  <th>갯수</th>
                  <th class="mb-1 text-muted"> <%= data[0].quantity %> 개 남았습니다</th>
                </tr>
              </table>

            </div>
          </div>
        </div>
      </div>

      !-->

      <br>
      <br>
      <br>

      <div>
      <section id="tabs">
        <div class="container-fluid">
          <div class="row fixed-width">
            <div class="col-xs-12 fixed-width">
              <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">상세 정보</a>
                  <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">리뷰</a>
                </div>
              </nav>
              <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                <div class="tab-pane fade show active text-justify" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                  <br>
                  <%= data[0].info %>
                </div>
                <div class="tab-pane fade text-justify" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                  <br>
                  <%= data[0].info %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      </div>


      <!-- FOOTER -->
      <%- include("partials/copyright"); -%>
  </main>
  <%- include("partials/footer"); -%>
